* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  background-color: #413809;
  color: white;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  padding: 10px 20px;
  position: sticky; 
  top: 0;   
z-index: 100;   
}
.brand-title {
  font-size: 1.9em;
  line-height: 60px;
}
.navbar-links {
  height: 100%;
}
.navbar-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 20px;
  padding: 0;
}
.navbar-links li {
  padding: 0 10px;
}
.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 60px;
  display: block;
}
.navbar-links a:hover {
  background-color: #444;
}
/* Sections */
#home,#about, #service,#contact{
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;    
  font-size: 3em;
  color: white;
}
#home {
  background-color: #3498db; 
}
#about {
  background-color: #e74c3c;
}
#service {
  background-color: #db34b7; 
}
#contact {
  background-color: #3ce745;
}
/* Toggle Button */
.toggle-button {
  position: absolute;
  top: 15px;
  right: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  transition: 0.3s;
}
/* Mobile Screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }

  .navbar-links a {
    padding: 10px;
    line-height: 20px;
  }

  .navbar.active .navbar-links {
    max-height: 300px;
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
  }

  /* Change the toggle button bars for the open state */
  .navbar.active .toggle-button .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar.active .toggle-button .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .navbar.active .toggle-button .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}
